.header {
  border-bottom: 1px solid #ECECEC;
}

.main-nav {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.main-nav__logo {
  padding: 15px 20px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  border-right: 1px solid #ECECEC;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  display: block;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 24px;
  color: #63D1BB;
  text-decoration: none;

  &:hover {
    color: #fff;
    background: #63D1BB;
  }
}

.main-nav__logo a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav__link.active {
  color: #fff;
  background: #63D1BB;
}
