<div class="pets__wrap">

  <button class="pets__button" (click)="openRightSide()" [disabled]="openedRightSide">Добавить</button>
  <div class="pets">
    <div class="pets__tableWrap" [ngClass]="{ full: !openedRightSide }">
      <ng-template #elseBlock>
        <p class="pets__tableAdd">
          Нет питомцев
        </p>
      </ng-template>
      <table class="pets__table" *ngIf="pets.length > 0; else elseBlock">
        <tr>
          <th>id</th>
          <th>Кличка</th>
          <th>Пол</th>
          <th>Тип</th>
          <th>Цвет</th>
          <th>Прививка</th>
          <th>Редактировать</th>
        </tr>
        <tr *ngFor="let pet of pets" [ngClass] = "{'highlight' : pet.id == selectedName} ">
          <td>
            {{pet.id}}
          </td>
          <td>
            {{pet.name}}
          </td>
          <td>
            {{pet.gender}}
          </td>
          <td>
            {{pet.type}}
          </td>
          <td>
            {{pet.color}}
          </td>
          <td [ngStyle]="{'color': pet.vaccination === true ? '#333' : '#ff0000' }">
            {{ pet.vaccination ? "Есть" : "Нет" }}
          </td>
          <td class="pets__buttonWrap">
            <button class="pets__button-table" (click)=deletePet(pet.id)>Удалить</button>
            <button class="pets__button-table" (click)="open(pet.id)" >Изменить</button>
          </td>
        </tr>
      </table>
    </div>

    <form class="pets__form" [formGroup]="petsForm" (ngSubmit)="onSubmit()" [ngClass]="{ hulf: openedRightSide }">

      <div class="pets__form-titleWrap">
        <h1 class="pets__form-title">{{selectedPet?.id ? 'Редактировать' : 'Новый питомец'}}</h1>
        <button class="pets__form-close" (click)="closeForm()"></button>
      </div>

      <div class="pets__inputWrap">
        <label>
          <span>Кличка</span>
          <input type="text" formControlName="name" required>
        </label>

        <div *ngIf="name.invalid && name.touched" class="pets__validation">
          <span *ngIf="name.errors['required']">
            Данное поле обязательно для заполнения
          </span>
          <span *ngIf="name.errors['minlength']">
            Минимально допустимое количество символов - 3
          </span>
        </div>
      </div>

      <div class="pets__inputWrap">
        <label>
          <span>Пол</span>
          <select formControlName="gender">
            <option value="" disabled>Не выбрано</option>
            <option *ngFor="let gender of genderArray" [ngValue]="gender">{{gender}}</option>
          </select>
        </label>

        <div *ngIf="gender.invalid && gender.touched" class="pets__validation">
          <span *ngIf="color.errors['required']">
            Данное поле обязательно для заполнения
          </span>
        </div>
      </div>

      <div class="pets__inputWrap">
        <label>
          <span>Тип</span>
          <select formControlName="type">
            <option value="" disabled>Не выбрано</option>
            <option *ngFor="let type of typeArray" [ngValue]="type">{{type}}</option>
          </select>
        </label>

        <div *ngIf="type.invalid && type.touched" class="pets__validation">
          <span *ngIf="type.errors['required']">
            Данное поле обязательно для заполнения
          </span>
        </div>
      </div>

      <div class="pets__inputWrap">
        <label>
          <span>Цвет</span>
          <input type="text" formControlName="color" required>
        </label>

        <div *ngIf="color.invalid && color.touched" class="pets__validation">
          <span *ngIf="color.errors['required']">
            Данное поле обязательно для заполнения
          </span>
          <span *ngIf="color.errors['minlength']">
            Минимально допустимое количество символов - 3
          </span>
        </div>
      </div>

      <label class="pets__label-checkbox">
        <input class="pets__input-checkbox" type="checkbox" formControlName="vaccination">
        <span>Привит</span>
      </label>

      <button
        class="pets__button pets__button--form"
        (click)="save(selectedPet?.id)"
        [disabled]="petsForm.invalid"
        type="submit"
      >
        {{selectedPet?.id ? 'Изменить' : 'Создать'}}
      </button>

    </form>
  </div>
</div>
