<div class="pets__wrap">

  <button class="pets__button" (click)="openRightSide()" [disabled]="openedRightSide">Добавить</button>

  <pre>{{selectedPet|json}}</pre>
  {{ elName?.value }}
  {{ openedRightSide }}

  <div class="pets">
    <div class="pets__tableWrap" [ngClass]="{ full: !openedRightSide }">
      <ng-template #elseBlock>
        <p class="pets__tableAdd">
          Нет питомцев
        </p>
      </ng-template>
      <table class="pets__table" *ngIf="pets.length > 0; else elseBlock">
        <tr>
          <th>id</th>
          <th>Кличка</th>
          <th>Пол</th>
          <th>Тип</th>
          <th>Цвет</th>
          <th>Прививка</th>
          <th>Редактировать</th>
        </tr>
        <tr *ngFor="let pet of pets">
          <td>
            {{pet.id}}
          </td>
          <td>
            {{pet.name}}
          </td>
          <td>
            {{pet.gender}}
          </td>
          <td>
            {{pet.type}}
          </td>
          <td>
            {{pet.color}}
          </td>
          <td [ngStyle]="{'color': pet.vaccination === true ? '#333' : '#ff0000' }">
            {{ pet.vaccination ? "Есть" : "Нет" }}
          </td>
          <td class="pets__buttonWrap">
            <button class="pets__button-table" (click)=deletePet(pet.id)>Удалить</button>
            <button class="pets__button-table" (click)="open(pet.id)">Изменить</button>
          </td>
        </tr>
      </table>
    </div>

    <form class="pets__form" [formGroup]="petsForm" (ngSubmit)="onSubmit()" [ngClass]="{ hulf: openedRightSide }">

      <h1 class="pets__form-title">{{selectedPet?.id ? 'Редактировать' : 'Новый питомец'}}</h1>

      <label>
        <span>Кличка</span>
        <input type="text" formControlName="name" required>
      </label>

      <label>
        <span>Пол</span>
        <select formControlName="gender">
          <option value="" disabled>Не выбрано</option>
          <option *ngFor="let gender of genderArray" [ngValue]="gender">{{gender}}</option>
        </select>
      </label>

      <label>
        <span>Тип</span>
        <select formControlName="type">
          <option value="" disabled>Не выбрано</option>
          <option *ngFor="let type of typeArray" [ngValue]="type">{{type}}</option>
        </select>
      </label>

      <label>
        <span>Цвет</span>
        <input type="text" formControlName="color" required>
      </label>

      <label class="pets__label-checkbox">
        <input class="pets__input-checkbox" type="checkbox" formControlName="vaccination">
        <span>Привит</span>
      </label>

      <button
        class="pets__button pets__button--form"
        (click)="save(selectedPet.id)"
        [disabled]="petsForm.invalid"
        type="submit"
      >
        {{selectedPet?.id ? 'Изменить' : 'Создать'}}
      </button>

    </form>
  </div>
</div>
