@import '~@angular/cdk/overlay-prebuilt.css';

body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.myapp-dialog .mat-dialog-container {
  width: 600px;
  height: 200px;
  background: #FFFFFF;
  box-shadow: 0px 2px 27px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
